@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.infinite-scroll-wrapper {
    font-family: "Montserrat Alternates", serif;
    font-weight: 400;
    color: #ffffff;
    margin-top: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    overscroll-behavior: none;
  }
  
  .infinite-scroll-wrapper::before,
  .infinite-scroll-wrapper::after {
    content: "";
    position: absolute;
    width: 100%;
    z-index: 1;
    pointer-events: none;
  }
  
  .infinite-scroll-wrapper::before {
    top: 0;
  }
  
  .infinite-scroll-wrapper::after {
    --dir: to top;
    bottom: 0;
  }
  
  .infinite-scroll-container {
    display: flex;
    flex-direction: column;
    overscroll-behavior: contain;
    padding-inline: 1rem;
    cursor: grab;
    transform-origin: center center;
  }
  
  .infinite-scroll-item {
    --accent-color: #ffffff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    border: 2px solid var(--accent-color);
    user-select: none;
    box-sizing: border-box;
    position: relative;
  }
  

  @media (max-width: 425px) {
    .infinite-scroll-item {
      font-size: 1rem;

    }
  }